# Virtual environments
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# VS Code (workspace settings)
.vscode/

# Selenium / Chrome user data directory
chrome_profile/

# Tokens / secrets files
git_token.txt

# VS Code (workspace settings)
.vscode/

# Selenium / Chrome user data directory
chrome_profile/

# Tokens / secrets files
git_token.txt
