html{
    background-color: black;
}

body{
    margin: 0;
}

.white-text{
    color: white;
    font-family: "Libre Baskerville", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

img{
    width: 100%;
    text-align: center;
    border: 5px solid white;

}

h1{
    text-align: center;
    text-transform: uppercase;
}

p{
    text-align: center;
}

div{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 100px;
}
